<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Panel - <%= title %></title>
    <link href="/static/styles/panel.css" rel="stylesheet">
</head>
<body>

    <div class="container">
        <div class="sidebar">
            <ul>
                <li class="brand">Sherlock</li>
                <%- include("partials/sidebar", active) %>
            </ul>
        </div>

        <div class="content">
            <div class="nav">
                <span><%= title %></span>
            </div>
            <div class="main">
                <%- include(content, data) %>
            </div>
        </div>
    </div>

</body>
</html>
