<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Panel - Login</title>
    <link href="/static/styles/panel.css" rel="stylesheet"><link href="https://fonts.googleapis.com/css?family=Roboto:400,500|Roboto+Condensed|Roboto+Mono" rel="stylesheet">
    <style>.error { display: none; }</style>
    <script src="/static/scripts/jquery/3.1.1.js"></script>
    <script>
        $(() => {
            $("#form").on("submit", event => {
                event.preventDefault();
                const username = $("#username").val();
                const password = $("#password").val();

                if (!username || !password) {
                    $(".error").show();
                    return $("#errmsg").text("Baka! You have to fill in the boxes. uwu");
                }

                $.post("/api/login", { username, password }, data => {
                    if (data.ok) {
                        window.location.replace("/panel");
                    } else {
                        $(".error").show();
                        $("#errmsg").text(data.error);
                        return false;
                    }
                });

                return false;
            });
        });
    </script>
</head>
<body>

    <div class="login">
        <div class="box">
            <div class="brand">
                <span>Sherlock</span>
            </div>

            <div class="error">
                <span id="errmsg"></span>
            </div>

            <div class="inputs">
                <form target="" id="form">
                    <input id="username" type="text" placeholder="Username" name="username" required autocomplete="off">
                    <input id="password" type="password" placeholder="Password" name="password" required autocomplete="off">
                    <div class="buttons">
                        <a href="/panel/register"><button type="button">Register</button></a>
                        <input type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>
