<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Panel</title>
    <link href="/static/styles/panel.css" rel="stylesheet">
</head>
<body>

    <div class="login">
        <div class="box">
            <div class="title">
                <span>Login</span>
            </div>

            <div class="inputs">
                <input type="text" placeholder="Username">
                <input type="password" placeholder="Password">
                <input type="submit">
            </div>
        </div>
    </div>

</body>
</html>
