<span class="title">Username</span>
<input type="text" value="<%- user.username %>" disabled>
<br>
<span class="title">Email</span>
<input type="text" value="<%- user.email %>" disabled>
<br>
<span class="title">Token</span>
<input type="text" value="<%- user.token %>" disabled>
