<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Panel - Register</title>
    <link href="/static/styles/panel.css" rel="stylesheet"><link href="https://fonts.googleapis.com/css?family=Roboto:400,500|Roboto+Condensed|Roboto+Mono" rel="stylesheet">
    <style>.error { display: none; }</style>
    <script src="/static/scripts/jquery/3.1.1.js"></script>
    <script>
        $(() => {
            $("#form").on("submit", event => {
                event.preventDefault();
                const email = $("#email").val()
                const username = $("#username").val();
                const password = $("#password").val();
                const password2 = $("#password2").val()
                const auth = $("#authkey").val();

                if (!email || !username || !password || !password2 || !auth) {
                    $(".error").show();
                    return $("#errmsg").text("Baka! You have to fill in the boxes. uwu");
                }

                if (password !== password2) {
                    $(".error").show();
                    return $("#errmsg").text("Password Mismatch");
                }

                /*if (!(/(.+)@(.+){2,}\.(.+){2,}/.test(email))) {
                    $(".error").show();
                    return $("#errmsg").text("Please enter a valid email");
                }*/

                if (!(/^[a-zA-Z0-9]+$/).test(username)) {
                    $(".error").show();
                    return $("#errmsg").text("Usernames can only contain letters and numbers");
                }

                $.post("/api/register", { email, username, password, auth }, data => {
                    console.log(data);

                    if (data.ok) {
                        $("#result").removeClass("info");
                        $("#result").addClass("success");
                        $("#infomsg").html(`Username: ${data.username}<br>Token: ${data.token}`);
                    } else {
                        $(".error").show();
                        $("#errmsg").text(data.error);
                        return false;
                    }
                });

                return false;
            });
        });
    </script>
</head>
<body>

    <div class="login">
        <div class="box">
            <div class="title">
                <span>Register</span>
            </div>

            <div class="info" id="result">
                <span id="infomsg">Please consult Kuri-senpai for a Registration Key before continuing.</span>
            </div>

            <div class="error">
                <span id="errmsg"></span>
            </div>

            <div class="inputs">
                <form target="" id="form">
                    <input id="username" type="text" placeholder="Name" required autocomplete="off">
                    <input id="email" type="email" placeholder="Email" required autocomplete="off">
                    <input id="password" type="password" placeholder="Password" required autocomplete="off">
                    <input id="password2" type="password" placeholder="Confirm Password" required autocomplete="off">
                    <input id="authkey" type="text" placeholder="Registration Key" required autocomplete="off">
                    <div class="buttons">
                        <a href="/panel/login"><button type="button">Back</button></a>
                        <input type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>
