<table>
    <thead>
        <tr>
            <td>Admin</td>
            <td>Disabled</td>
            <td>Username</td>
            <td>Email</td>
            <td>Token</td>
            <td>Edit</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>true</td>
            <td>false</td>
            <td>kurisu</td>
            <td>kurisubrooks@gmail.com</td>
            <td>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>
            <td>√</td>
        </tr>
        <tr>
            <td>false</td>
            <td>false</td>
            <td>vzwgrey</td>
            <td>vzwgrey@email.org</td>
            <td>bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</td>
            <td>√</td>
        </tr>
    </tbody>
</table>
