<form id="form">
    <% if (users) { %>
        <span class="title">Username</span>
        <input id="username" type="text" value="<%- user.username %>" autocomplete="off" required>
        <br>
        <span class="title">Email</span>
        <input id="email" type="text" value="<%- user.email %>" autocomplete="off" required>
        <br>
        <span class="title">Token</span>
        <input id="token" type="text" value="<%- user.token %>" autocomplete="off" disabled>
        <br>
        <input type="submit" value="Submit" disabled>
    <% } else { %>
        <span>User does not exist</span>
    <% } %>
</form>
