<li>Database</li>
<ul>
    <a href="/panel/users/new"><li <% if (active === "users_new") { %>class="active"<% } %>>New User</li></a>
    <!--<a href="/panel/new_app"><li <% if (active === "new_app") { %>class="active"<% } %>>New Application</li></a>-->
    <a href="/panel/users/all"><li <% if (active === "users_list") { %>class="active"<% } %>>List Users</li></a>
    <a href="/panel/users/delete"><li <% if (active === "users_del") { %>class="active"<% } %>>Delete User</li></a>
</ul>

<li>Server</li>
<ul>
    <a href="/panel/logs"><li <% if (active === "logs") { %>class="active"<% } %>>Logs</li></a>
    <a href="/panel/system"><li <% if (active === "system") { %>class="active"<% } %>>System</li></a>
</ul>
