<link href="/static/styles/highlightjs/theme.css" rel="stylesheet">

<style>
    table { min-width: 500px; width: auto !important; border: 1px solid #EEE !important; }
</style>

<blockquote>This endpoint provides the Weather/Rain Radar for Greater Sydney.</blockquote>

<br>

<h3>Endpoint</h3>
<pre><code>/api/radar</pre></code>

<br>

<h3>Details</h3>
<table>
    <tr>
        <td>Request Types</td>
        <td>GET</td>
    </tr>
    <tr>
        <td>Admin Only?</td>
        <td>no</td>
    </tr>
    <tr>
        <td>Token Required?</td>
        <td>no</td>
    </tr>
    <tr>
        <td>Rate Limiting?</td>
        <td>no</td>
    </tr>
</table>

<br>

<h3>Params</h3>
<table>
    <tr>
        <td>id</td>
        <td>String, [ "sydney", "adelaide" ]</td>
    </tr>
    <tr>
        <td>type</td>
        <td>String, [ "static", "animated" ]</td>
    </tr>
</table>

<br><hr>

<h3>Example <small>(using request-promise)</small></h3>
<pre><code class="hljs javascript">await request({
    method: "GET",
    uri: "https://api.kurisubrooks.com/api/radar",
    encoding: null
});</pre></code>

<br>

<h3>Response <small>(example)</small></h3>
<img src="/static/images/examples/docs_radar.png">

<br><hr>

<h3>Errors</h3>
<pre><code class="hljs json">Response Code: 400

{
    ok: false,
    error: "Unknown Image Type"
}</pre></code>
<blockquote>The provided value in the "type" field is not a valid image type</blockquote>

<br>

<pre><code class="hljs json">Response Code: 400

{
    ok: false,
    error: "Unsupported Location"
}</pre></code>
<blockquote>The provided value in the "id" field is not a valid/supported location</blockquote>

<br>

<pre><code class="hljs json">Response Code: 500

{
    ok: false,
    error: "Internal Server Error"
}</pre></code>
<blockquote>Something went wrong backend, this may occur if the weather data is corrupt. Try again later!</blockquote>



<script src="/static/scripts/highlightjs/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
