*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #35394A 0%, #1F222E 100%);
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    height: 100%;
}

h3 {
    font-weight: 400;
}

a {
    color: #4B99DE;
    text-decoration: none;
}

hr {
    border: none;
    border-bottom: 1px solid #EEE;
}

small {
    color: #555;
}

pre, code {
    margin: 0;
    font-family: "SF Mono", "Roboto Mono", Courier, monospace;
    font-size: 0.9em;
    color: #333;
    background: #FFF;
    line-height: 1.5em;
}

pre {
    display: block;
    font-weight: 500;
    padding: 18px 24px;
    border: 1px solid #EEE;
    margin-bottom: 10px;
    overflow-y: auto;
}

pre code {
    background: transparent;
    border: none;
    padding: 0;
}

code {
    max-height: 600px;
    padding: 1px 4px;
    border: 2px solid #2F2F2F;
    border-radius: 0.2em;
}

blockquote {
    border-left: 3px solid #DDD;
    margin-left: 0;
    padding: 4px 20px;
}

input:focus,
button:focus,
select:focus,
textarea:focus {
    outline: none;
}

select {
    cursor: pointer;
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    color: #AFB1BE;
    padding: 50px 80px;
}

.login .title {
    margin: 0 0 20px;
    font-size: 24px;
}

.login .brand {
    margin: 0 0 20px;
    font-size: 24px;
}

.login .error,
.login .info,
.login .success {
    padding: 20px;
    margin-bottom: 20px;
    background: rgba(255, 0, 0, 0.1);
    border: 2px solid rgba(255, 0, 0, 0.1);
    border-radius: 0.2em;
    text-align: center;
}

.login .info {
    background: rgba(100, 100, 180, 0.1);
    border-color: rgba(100, 100, 180, 0.1);
}

.login .success {
    background: rgba(50, 255, 50, 0.1);
    border-color: rgba(50, 255, 50, 0.1);
}

.login input[type=text],
.login input[type=email],
.login input[type=password] {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font: inherit;
    width: 100%;
    font-size: 14px;
    padding: 0.75em 1em;
    margin-bottom: 10px;
    border-radius: 0.2em;
    border: 2px solid rgb(57, 61, 85);
    background: rgba(255, 255, 255, 0.02);
    color: rgb(175, 175, 190);
}

.login button,
.login .button,
.login input[type=submit] {
    width: calc(50% - 2px);
    padding: 0.75em 2em;
    margin: 10px 0 0;
    border-radius: 2em;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    font-size: 14px;
    font-family: inherit;
    border: 2px solid rgb(57, 61, 85);
    background: rgba(255, 255, 255, 0);
    color: rgb(175, 175, 190);
}

.login .button {
    border-color: rgba(255, 255, 255, 0);
    padding: 0.75em 2em;
}

.login input[type=text]:hover,
.login input[type=text]:focus,
.login input[type=email]:hover,
.login input[type=email]:focus,
.login input[type=password]:hover,
.login input[type=password]:focus,
.login input[type=submit]:hover,
.login input[type=submit]:focus,
.login button:hover,
.login button:focus,
.login .button:hover,
.login .button:focus {
    border-color: rgb(77, 81, 105);
    background: rgba(255, 255, 255, 0.03);
    color: rgb(175, 175, 190);
}

.container {
    background: #EEE;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.container .sidebar {
    display: inline-flex;
    height: 100%;
    width: 260px;
    background: #EEE;
    box-shadow: 0px 4px 13px -2px rgba(0, 0, 0, 0.25);
    overflow-x: hidden;
    overflow-y: auto;
}

.container .sidebar .brand {
    position: relative;
    z-index: 200;
    height: 56px;
    padding: 16px 30px;
    background: #FFF;
    border-bottom: 2px solid #DDD;
    user-select: text;
    cursor: default;
}

.container .sidebar a {
    color: inherit;
}

.container .sidebar ul,
.container .sidebar li {
    margin: 0;
    padding: 0;
    list-style: none;
    user-select: none;
}

.container .sidebar > ul {
    width: 260px;
}

.container .sidebar ul > li {
    font-weight: 500;
    cursor: default;
}

.container .sidebar ul ul li {
    padding-left: 60px;
    font-weight: 400;
}

.container .sidebar li {
    padding: 14px 30px;
    cursor: pointer;
}

.container .sidebar ul ul li.active,
.container .sidebar ul ul li:hover {
    background: #DDD;
}

.container .content {
    position: relative;
    z-index: 100;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    width: calc(100% - 260px);
}

.container .content .nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    display: block;
    height: 56px;
    width: calc(100% - 260px);
    padding: 16px 24px;
    background: #FFF;
    border-bottom: 2px solid #EEE;
}

.container .content .nav span {
    font-weight: 500;
}

.container .content .nav span.logout {
    float: right;
    font-weight: 400;
    color: #4B99DE;
}

.container .content .main {
    display: block;
    flex-grow: 1;
    padding: 76px 24px 22px;
    background: #FAFAFA;
    box-shadow: 0px 4px 13px -2px rgba(0, 0, 0, 0.25);
    overflow-y: auto;
}

.container .content .main input[type=text],
.container .content .main input[type=password],
.container .content .main select {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #FFF;
    width: 100%;
    max-width: 400px;
    font: inherit;
    font-size: 16px;
    padding: 0.5em 0.8em;
    margin: 10px 0;
    border-radius: 0.2em;
    border: 2px solid #CCC;
    color: #222;
}

.container .content .main input:disabled {
    background: #FAFAFA;
    border-color: #EEE;
    cursor: no-drop;
}

.container .content .main input[type=text]:hover:not(:disabled),
.container .content .main input[type=text]:focus:not(:disabled),
.container .content .main input[type=password]:hover:not(:disabled),
.container .content .main input[type=password]:focus:not(:disabled),
.container .content .main select:hover:not(:disabled),
.container .content .main select:focus:not(:disabled) {
    border-color: #AAA;
}

.container .content .main input[type=button],
.container .content .main input[type=submit],
.container .content .main button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: rgba(255, 255, 255, 0);
    cursor: pointer;
    font: inherit;
    font-size: 16px;
    padding: 0.5em 1.1em;
    margin: 10px 0;
    border-radius: 0.2em;
    border: 2px solid #3FBF3F;
    color: #3FBF3F;
}

.container .content .main input[type=button]:disabled,
.container .content .main input[type=submit]:disabled,
.container .content .main button:disabled {
    cursor: no-drop;
    background: transparent;
    border-color: #EEE;
    color: #EEE;
}

.container .content .main input[type=button]:hover,
.container .content .main input[type=button]:focus,
.container .content .main input[type=submit]:hover,
.container .content .main input[type=submit]:focus,
.container .content .main button:hover,
.container .content .main button:focus {
    background: #5AC95A;
    color: #FFF;
}

.container .content .main input[type=button]:disabled:hover,
.container .content .main input[type=button]:disabled:focus,
.container .content .main input[type=submit]:disabled:hover,
.container .content .main input[type=submit]:disabled:focus,
.container .content .main button:disabled:hover,
.container .content .main button:disabled:focus {
    background: transparent;
    border-color: #EEE;
    color: #EEE;
}

.container .content .main table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    cursor: default;
}

.container .content .main table a {
    color: inherit;
    cursor: pointer;
}

.container .content .main table tr td {
    padding: 1em;
}

.container .content .main table thead {
    font-weight: 500;
    border-bottom: 2px solid #DDD;
}

.container .content .main table tbody tr:nth-child(odd) {
    background: #FFF;
}

.container .content .main table tbody tr:hover {
    background: #EEE;
}

/*
.container .content .main table tr td:last-child {
    text-align: center;
}
*/
