<link href="/static/styles/highlightjs/theme.css" rel="stylesheet">

<blockquote>This endpoint provides a Google Translate API Wrapper.</blockquote>

<br>

<h3>Endpoint</h3>
<pre><code>/api/translate</code></pre>

<br>

<h3>Details</h3>
<table>
  <tr>
    <td>Request Types</td>
    <td>GET/POST</td>
  </tr>
  <tr>
    <td>Admin Only?</td>
    <td>no</td>
  </tr>
  <tr>
    <td>Token Required?</td>
    <td>yes</td>
  </tr>
  <tr>
    <td>Rate Limiting?</td>
    <td>yes</td>
  </tr>
</table>

<br>

<h3>Params</h3>
<table>
  <tr>
    <td>to</td>
    <td>String, Language Resolvable</td>
  </tr>
  <tr>
    <td>from</td>
    <td>String, Language Resolvable, optional</td>
  </tr>
  <tr>
    <td>query</td>
    <td>String, Input Translation Query</td>
  </tr>
</table>

<br><hr>

<h3>Example <small>(using request-promise)</small></h3>
<pre><code class="hljs javascript">await request({
  method: "POST",
  headers: { "Authorization": "token" },
  uri: "https://api.kurisubrooks.com/api/translate",
  json: true,
  body: {
    to: "Japanese",
    query: "Hello, World!"
  }
});</code></pre>

<br>

<h3>Response <small>(example)</small></h3>
<pre><code class="hljs json">{
  "ok": true,
  "to": {
    "name": "Japanese",
    "local": "日本語",
    "code": "ja"
  },
  "from": {
    "name": "English",
    "local": "English",
    "code": "en"
  },
  "query": "Hello, World!",
  "result": "こんにちは、世界！"
}</code></pre>

<br><hr>

<h3>Supported Languages</h3>
<blockquote>Any of the below values can be used as a valid to/from language. (Case Insensitive)<br><br>Alternatively, you can make a GET request to <code>/api/translate/langs</code> to recieve them in a JSON format, similar to the example listed below.</blockquote>
<pre><code class="hljs json">[
  {
    "name": "Afrikaans",
    "local": "Afrikaans",
    "code": "af"
  },
  {
    "name": "Arabic",
    "local": "العربية",
    "code": "ar"
  },
  {
    "name": "Bengali",
    "local": "বাংলা",
    "code": "bn"
  },
  {
    "name": "Bulgarian",
    "local": "български език",
    "code": "bg"
  },
  {
    "name": "Chinese",
    "local": "中文",
    "code": "zh"
  },
  {
    "name": "Chinese (Simplified)",
    "local": "简体中文",
    "code": "zh-cn"
  },
  {
    "name": "Chinese (Traditional)",
    "local": "繁體中文",
    "code": "zh-tw"
  },
  {
    "name": "Czech",
    "local": "čeština",
    "code": "cs"
  },
  {
    "name": "Danish",
    "local": "dansk",
    "code": "da"
  },
  {
    "name": "Dutch",
    "local": "Nederlands",
    "code": "nl"
  },
  {
    "name": "English",
    "local": "English",
    "code": "en"
  },
  {
    "name": "Filipino",
    "local": "Tagalog",
    "code": "tl"
  },
  {
    "name": "Finnish",
    "local": "suomi",
    "code": "fi"
  },
  {
    "name": "French",
    "local": "français",
    "code": "fr"
  },
  {
    "name": "German",
    "local": "Deutsch",
    "code": "de"
  },
  {
    "name": "Greek",
    "local": "ελληνικά",
    "code": "el"
  },
  {
    "name": "Hindi",
    "local": "हिन्दी",
    "code": "hi"
  },
  {
    "name": "Hungarian",
    "local": "magyar",
    "code": "hu"
  },
  {
    "name": "Indonesian",
    "local": "Bahasa Indonesia",
    "code": "id"
  },
  {
    "name": "Irish",
    "local": "Gaeilge",
    "code": "ga"
  },
  {
    "name": "Italian",
    "local": "italiano",
    "code": "it"
  },
  {
    "name": "Japanese",
    "local": "日本語",
    "code": "ja"
  },
  {
    "name": "Korean",
    "local": "한국어",
    "code": "ko"
  },
  {
    "name": "Latin",
    "local": "latine",
    "code": "la"
  },
  {
    "name": "Malay",
    "local": "bahasa Melayu",
    "code": "ms"
  },
  {
    "name": "Norwegian",
    "local": "Norsk",
    "code": "no"
  },
  {
    "name": "Polish",
    "local": "język polski",
    "code": "pl"
  },
  {
    "name": "Portuguese",
    "local": "português",
    "code": "pt"
  },
  {
    "name": "Punjabi",
    "local": "ਪੰਜਾਬੀ",
    "code": "pa"
  },
  {
    "name": "Russian",
    "local": "русский язык",
    "code": "ru"
  },
  {
    "name": "Slovak",
    "local": "slovenčina",
    "code": "sk"
  },
  {
    "name": "Spanish",
    "local": "español",
    "code": "es"
  },
  {
    "name": "Swedish",
    "local": "Svenska",
    "code": "sv"
  },
  {
    "name": "Thai",
    "local": "ไทย",
    "code": "th"
  },
  {
    "name": "Turkish",
    "local": "Türkçe",
    "code": "tr"
  },
  {
    "name": "Ukranian",
    "local": "українська мова",
    "code": "uk"
  },
  {
    "name": "Vietnamese",
    "local": "Tiếng Việt",
    "code": "vi"
  },
  {
    "name": "Welsh",
    "local": "Cymraeg",
    "code": "cy"
  }
]</code></pre>

<br><hr>

<h3>Errors</h3>
<pre><code class="hljs json">Response Code: 400

{
  ok: false,
  error: "Missing 'query' field"
}</code></pre>

<blockquote>Request was missing the "query" field from the body/params</blockquote>

<br>

<pre><code class="hljs json">Response Code: 400

{
  ok: false,
  error: "Missing 'to' lang field"
}</code></pre>

<blockquote>Request was missing the "to" field from the body/params</blockquote>

<br>

<pre><code class="hljs json">Response Code: 400

{
  ok: false,
  error: "Unknown 'to' Language"
}</code></pre>

<blockquote>The provided value in the "to" field is not a resolvable language</blockquote>

<br>

<pre><code class="hljs json">Response Code: 400

{
  ok: false,
  error: "Unknown 'from' Language"
}</code></pre>

<blockquote>The provided value in the "from" field is not a resolvable language</blockquote>

<br>

<pre><code class="hljs json">Response Code: 500

{
  ok: false,
  error: "Internal Server Error"
}</code></pre>

<blockquote>Something went wrong backend, this may occur due to a malformed request</blockquote>

<script src="/static/scripts/highlightjs/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
