<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Sherlock - Register</title>
  <link href="/static/styles/login.css" rel="stylesheet">
  <link href="https://use.typekit.net/fjt0pow.css" rel="stylesheet">
  <link href="https://rsms.me/inter/inter.css" rel="stylesheet">
  <script src="/static/scripts/jquery/3.1.1.js"></script>
</head>
<body>

  <div class="container">
    <div class="header">
      <img src="/static/images/logo.svg" height="72px">
      <div class="title">Registration</div>
      <div class="message">You'll need a registration key before continuing. Ask Kurisu for one!</div>
      <div class="errors"></div>
    </div>
    <div class="form">
      <form target="" id="form">
        <input id="username" type="text" placeholder="Username" required autocomplete="off">
        <input id="email" type="email" placeholder="Email" required autocomplete="off">
        <input id="password" type="password" placeholder="Password" required autocomplete="new-password">
        <input id="password2" type="password" placeholder="Confirm Password" required autocomplete="new-password">
        <input id="authkey" type="text" placeholder="Registration Key" required autocomplete="off">
        <div class="submit">
          <input type="submit" value="Register →">
        </div>
      </form>
    </div>
  </div>

  <script>
    $("#form").on("submit", function(event) {
      event.preventDefault();
      var email = $("#email").val()
      var username = $("#username").val();
      var password = $("#password").val();
      var password2 = $("#password2").val()
      var auth = $("#authkey").val();
      var payload = { email: email, username: username, password: password, auth: auth };

      if (!email || !username || !password || !password2 || !auth) {
        $(".errors").text('Please fill in all the fields').show();
        return;
      }

      if (password !== password2) {
        $(".errors").text('Password Mismatch').show();
        return;
      }

      if (!(/^[a-zA-Z0-9]+$/).test(username)) {
        $(".errors").text('Usernames can only contain letters and numbers').show();
        return;
      }

      $.post("/api/register", payload, function(data) {
        if (data.ok) {
          window.location.replace("/panel/me");
        } else {
          $(".errors").text(data.error).show();
          return;
        }
      });

      return;
    });
  </script>

</body>
</html>
