<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Sherlock - Register</title>
  <link href="/static/styles/login.css" rel="stylesheet" />
  <link href="https://use.typekit.net/fjt0pow.css" rel="stylesheet" />
  <link href="https://rsms.me/inter/inter.css" rel="stylesheet" />
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
  <div id="app" class="container">
    <div class="header">
      <img src="/static/images/logo.svg" height="72px" />
      <div class="title">Registration</div>
      <div class="message"
      >You'll need a registration key before continuing. Ask Kurisu for
      one!</div
      >
      <div v-if="error" class="errors">{{ errorMessage }}</div>
    </div>
    <div class="form">
      <form target="" id="form">
        <input
        v-model="username"
        id="username"
        type="text"
        placeholder="Username"
        required
        autocomplete="off"
        />
        <input
        v-model="email"
        id="email"
        type="email"
        placeholder="Email"
        required
        autocomplete="off"
        />
        <input
        v-model="password"
        id="password"
        type="password"
        placeholder="Password"
        required
        autocomplete="new-password"
        />
        <input
        v-model="password2"
        id="password2"
        type="password"
        placeholder="Confirm Password"
        required
        autocomplete="new-password"
        />
        <input
        v-model="authkey"
        id="authkey"
        type="text"
        placeholder="Registration Key"
        required
        autocomplete="off"
        />
        <div class="submit">
          <input @click="handleSubmit" type="submit" value="Register →" />
        </div>
      </form>
    </div>
  </div>
  
  <script>
    new Vue({
      el: "#app",
      data: {
        username: null,
        email: null,
        password: null,
        password2: null,
        authkey: null,
        error: false,
        errorMessage: null
      },
      methods: {
        handleSubmit: function(event) {
          event.preventDefault();
          var payload = {
            email: this.email,
            username: this.username,
            password: this.password,
            auth: this.auth
          };
          if (
          !this.email ||
          !this.username ||
          !this.password ||
          !this.authkey
          ) {
            this.errorMessage = "Please fill in all the fields";
            return (this.error = true);
          }
          if (this.password !== this.password2) {
            this.errorMessage = "Password Mismatch";
            return (this.error = true);
          }
          if (!/^[a-zA-Z0-9]+$/.test(this.username)) {
            this.errorMessage =
            "Usernames can only contain letters and numbers";
            return (this.error = true);
          }
          axios.post("/api/register", payload).then(response => {
            if (response.data.ok) {
              window.location.replace("/panel/me");
            } else {
              this.errorMessage = response.data.error;
              return (this.error = true);
            }
          });
        }
      }
    });
  </script>
</body>
</html>
