<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<div id="app">
  <span class="title">Node.js Version</span>
  <input v-model="node" type="text" disabled />
  
  <br />
  
  <span class="title">Memory In Use</span>
  <input v-model="memory" type="text" disabled />
  
  <br />
  
  <span class="title">Registration Key</span><br />
  <input v-model="key" id="key" type="text" disabled />
  
  <br />
  
  <button @click="handleGenerate" id="generate" class="active"
  >Generate Registration Key</button
  >
  <button @click="handleRestart" id="restart">Restart</button>
  <button id="reload" disabled>Reload Endpoints</button>
  
  <br />
  
  <span id="response">{{ response }}</span>
</div>

<script>
  new Vue({
    el: "#app",
    data: {
      node: "<%- node %>",
      memory: "<%- memory %>",
      key: null,
      response: null
    },
    methods: {
      handleGenerate: function(event) {
        event.preventDefault();
        axios.post("/api/regkey", {}).then(response => {
          console.log(response.data);
          if (response.data.ok) {
            return (this.key = response.data.key);
          }
        });
      },
      handleRestart: function(event) {
        event.preventDefault();
        this.response = "Restarting...";
        axios.post("/api/system", { action: "shutdown" }).then(response => {
          console.log(response.data);
          if (response.data.ok) {
            return setTimeout(function() {
              window.location.replace("/panel");
            }, 3500);
          } else {
            return (this.response = `Error: ${response.data.error}`);
          }
        });
      }
    }
  });
</script>
