<script>
$(function() {
    $("#generate").on("click", function(event) {
        $.post("/api/regkey", {}, function(data) {
            console.log(data);
            if (data.ok) {
                $("#key").val(data.key);
                // $("#gen").prop("disabled", true);
            } else {
                $("#response").text("Error: " + data.error);
            }
        });
    });

    $("#restart").on("click", function(event) {
        $("#response").text("Restarting...");
        $.post("/api/system", { action: "shutdown" }, function(data) {
            console.log(data);
            if (data.ok) {
                setTimeout(function() {
                    window.location.replace("/panel");
                }, 3500);
            } else {
                $("#response").text(data.error);
            }
        });
    });
});
</script>

<span class="title">Node.js Version</span>
<input type="text" value="<%- node %>" disabled>

<br>

<span class="title">Memory In Use</span>
<input type="text" value="<%- memory %>" disabled>

<br>

<span class="title">Registration Key</span><br>
<input id="key" type="text" value="" disabled>

<br>

<button id="generate" class="active">Generate Registration Key</button>
<button id="restart">Restart</button>
<button id="reload" disabled>Reload Endpoints</button>

<br>

<span id="response"></span>
