*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  height: 100%;
}

body {
  background: #1a1a1a;
}

.container {
  background: #2c2c2c;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.container .header {
  display: flex;
  position: absolute;
  top: 0; right: 0;
  align-items: center;
  z-index: 10;
  width: 100%;
  height: 58px;
  background: #141414;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
  padding-left: 30px;
  user-select: text;
  cursor: default;
}

.container .header .brand {
  padding-top: 3px;
  width: 260px;
}

.container .header .navigation {
  margin-left: -5px;
  font-weight: 500;
}

.container .sidebar {
  display: inline-flex;
  height: 100%;
  width: 260px;
  background: #212121;
  /*box-shadow: 0px 4px 13px -2px rgba(0, 0, 0, 0.25);*/
  overflow-x: hidden;
  overflow-y: auto;
}

.container .sidebar a {
  color: inherit;
  text-decoration: none;
}

.container .sidebar a#logout {
  color: #e34850;
}

.container .sidebar ul,
.container .sidebar li {
  margin: 0;
  padding: 0;
  list-style: none;
  user-select: none;
}

.container .sidebar li {
  border-radius: 4px;
  padding: 8px 10px;
  margin: 6px 0;
  cursor: pointer;
}

.container .sidebar > ul {
  width: 260px;
  padding: 20px;
}

.container .sidebar ul > li {
  font-size: 16px;
  font-weight: 600;
  cursor: default;
}

.container .sidebar ul ul li {
  font-size: 14px;
  font-weight: 400;
  padding-left: 30px;
}

.container .sidebar ul ul li:hover {
  background: #303030;
}

.container .sidebar ul ul li.active {
  background: #393939;
}

.container .content {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  z-index: 2;
  height: 100%;
  width: calc(100% - 260px);
  background: #151515;
  /*border-left: 1px solid #252627;
  box-shadow: 0px 4px 13px -2px rgba(0, 0, 0, 0.25);*/
}

.container .content .wrapper {
  display: block;
  flex-grow: 1;
  padding: 48px 22px 24px;
  overflow-y: auto;
}

span.title {
  color: #B8B8B8;
  font-size: 14px;
}

.material-icons.small {
  position: relative;
  top: 3px;
  font-size: 18px;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  display: block;
  width: 400px;
  margin: 10px 0;
  padding: 0.7em 1em;

  font: inherit;
  font-size: 15px !important;
  background: #080808;
  border: 1.5px solid #393939;
  border-radius: 4px;
  color: #FFFFFF;
}

input:disabled {
  background: #080808;
  color: #535353;
  cursor: no-drop;
}

/*
input:hover:not(:disabled),
input:focus:not(:disabled) {
  border-color: #18171B;
}
*/

input[type=submit],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  background: #1F2025;
  cursor: pointer;
  font: inherit;
  font-size: 15px !important;
  font-weight: 500;
  padding: 0.5em 1.5em;
  margin: 10px 0;
  border: none;
  border-radius: 50px;
  color: #FFFFFF;
}

button.active {
  background: #2680EB;
}

button.active:hover {
  background: #0f61c5;
}

input[type=submit]:hover,
input[type=submit]:focus,
button:hover,
button:focus {
  background: #080808;
}

input[type=submit]:disabled,
button:disabled {
  cursor: no-drop;
  background: transparent;
  font-weight: 400;
  color: #27292c;
}

input[type=submit]:disabled:hover,
input[type=submit]:disabled:focus,
button:disabled:hover,
button:disabled:focus {
  background: transparent;
  color: #27292c;
}

table {
  width: auto;
  min-width: 500px;
  border-collapse: collapse;
  cursor: default;
}

table a {
  color: inherit;
  cursor: pointer;
}

table tr td {
  padding: 1em;
}

table tbody {
  border: 1px solid #393939;
}

table tbody {
  border-radius: 20px;
}

table tbody tr td {
  border-bottom: 1px solid #393939;
}

table thead {
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  background: transparent;
}

table tbody tr {
  background: #080808;
  font-size: 15px;
}

table tbody tr td.tabular {
  font-family: 'Roboto Mono';
  color: rgba(255, 255, 255, 0.6);
}

h3 {
  font-weight: 400;
}

hr {
  border: none;
  border-bottom: 1.5px solid #3C3E43;
}

small {
  color: #ABB2BF;
}

blockquote {
  border-left: 3px solid #393939;
  margin-left: 0;
  padding: 4px 20px;
  line-height: 1.5em;
}

pre, code {
  margin: 0;
  font-family: "SF Mono", "Roboto Mono", Courier, monospace;
  font-size: 0.9em;
  color: #ABB2BF;
  background: #080808;
  border: 2px solid #393939;
  line-height: 1.5em;
}

pre {
  display: block;
  font-weight: 500;
  max-height: 600px;
  padding: 18px 24px;
  margin-bottom: 10px;
  overflow-y: auto;
}

pre code {
  background: transparent;
  border: none;
  padding: 0;
}

code {
  padding: 1px 4px;
}
