*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  height: 100%;
}

body {
  background: #1D1D1D;
}

.container {
  background: #2A2C31;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.container .header {
  display: flex;
  position: absolute;
  top: 0; right: 0;
  align-items: center;
  z-index: 10;
  width: 100%;
  height: 54px;
  background: #37383C;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
  padding-left: 30px;
  user-select: text;
  cursor: default;
}

.container .header .brand {
  padding-top: 3px;
  width: 260px;
}

.container .header .navigation {
  margin-left: -5px;
}

.container .sidebar {
  display: inline-flex;
  height: 100%;
  width: 260px;
  padding-top: 62px;
  background: linear-gradient(180deg, #2E3135 0%, #1D1D1D 100%);
  box-shadow: 0px 4px 13px -2px rgba(0, 0, 0, 0.25);
  overflow-x: hidden;
  overflow-y: auto;
}

.container .sidebar a {
  color: inherit;
  text-decoration: none;
}

.container .sidebar a#logout {
  color: #FD6868;
}

.container .sidebar ul,
.container .sidebar li {
  margin: 0;
  padding: 0;
  list-style: none;
  user-select: none;
}

.container .sidebar > ul {
  width: 260px;
}

.container .sidebar ul > li {
  font-size: 16px;
  font-weight: 600;
  cursor: default;
}

.container .sidebar ul ul li {
  font-size: 14px;
  font-weight: 400;
  padding-left: 60px;
}

.container .sidebar li {
  padding: 14px 30px;
  cursor: pointer;
}

.container .sidebar ul ul li.active,
.container .sidebar ul ul li:hover {
  background: #36383E;
}

.container .content {
  position: relative;
  z-index: 2;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  width: calc(100% - 260px);
  padding-top: 52px;
}

.container .content .main {
  display: block;
  flex-grow: 1;
  padding: 22px 24px;
  background: #2D2F33;
  box-shadow: 0px 4px 13px -2px rgba(0, 0, 0, 0.25);
  border-left: 1px solid #37383C;
  overflow-y: auto;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  display: block;
  width: 400px;
  margin: 10px 0;
  padding: 0.7em 1em;

  font: inherit;
  font-size: 14px !important;
  background: #28292D;
  border: 2px solid #1F2025;
  color: #FFFFFF;
}

input:disabled {
  background: #28292D;
  color: rgba(255, 255, 255, 0.4);
  cursor: no-drop;
}

input:hover:not(:disabled),
input:focus:not(:disabled) {
  border-color: #18171B;
}

input[type=submit],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  background: #28292E;
  cursor: pointer;
  font: inherit;
  font-size: 15px !important;
  padding: 0.5em 1.1em;
  margin: 10px 0;
  border: 2px solid #1F2025;
  color: #FFFFFF;
}

input[type=submit]:hover,
input[type=submit]:focus,
button:hover,
button:focus {
  background: #1F2025;
  border-color: #18171B;
}

input[type=submit]:disabled,
button:disabled {
  cursor: no-drop;
  background: transparent;
  border-color: #3C3E43;
  color: #3C3E43;
}

input[type=submit]:disabled:hover,
input[type=submit]:disabled:focus,
button:disabled:hover,
button:disabled:focus {
  background: transparent;
  border-color: #3C3E43;
  color: #3C3E43;
}

table {
  min-width: 500px;
  width: auto;
  border: 2px solid #1F2025;
  border-collapse: collapse;
  cursor: default;
}

table a {
  color: inherit;
  cursor: pointer;
}

table tr td {
  padding: 1em;
}

table thead {
  font-weight: 500;
  background: #1F2025;
}

table tbody tr:nth-child(odd) {
  background: #28292E;
}

table tbody tr:nth-child(even) {
  background: #1F2025;
}

h3 {
  font-weight: 400;
}

hr {
  border: none;
  border-bottom: 1.5px solid #3C3E43;
}

small {
  color: #ABB2BF;
}

blockquote {
  border-left: 3px solid #3C3E43;
  margin-left: 0;
  padding: 4px 20px;
  line-height: 1.5em;
}

pre, code {
  margin: 0;
  font-family: "SF Mono", "Roboto Mono", Courier, monospace;
  font-size: 0.9em;
  color: #ABB2BF;
  background: #28292E;
  border: 2px solid #1F2025;
  line-height: 1.5em;
}

pre {
  display: block;
  font-weight: 500;
  max-height: 600px;
  padding: 18px 24px;
  margin-bottom: 10px;
  overflow-y: auto;
}

pre code {
  background: transparent;
  border: none;
  padding: 0;
}

code {
  padding: 1px 4px;
}
